<mat-toolbar color="primary">
    <ng-container *ngIf="!isLogged; else viewDepartamento">
      <span>Sistema Departamentos</span>
      <span class="spacer"></span>
    </ng-container>
      <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Iniciar Sesion</a>
</mat-toolbar>

<ng-template #viewLogout>
  <!--<a  mat-button (click)="onLogout()">Cerrar Sesión</a>
  <a  mat-button routerLink="/departamento">Departamentos</a>-->
</ng-template>

<ng-template #viewDepartamento>
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema Departamentos</span>
  <span class="spacer"></span>
</ng-template>
