<mat-card>
    <mat-card-header>
        <mat-card-title>
            Departamentos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="buttonStyle">
            <button type="button" mat-raised-button color="primary" style="margin: 2ch;" (click)="onOpenModal()">
              <mat-icon>add</mat-icon>
                <span>Agregar</span>
            </button>
        </div>
    </mat-card-content>
    <table mat-table [dataSource]="lstDepartamentos" class="mat-elevation-z8">

        <!-- Descripcion -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let departamento"> {{departamento.descripcion}} </td>
        </ng-container>
      
        <!-- Planta -->
        <ng-container matColumnDef="planta">
          <th mat-header-cell *matHeaderCellDef> Planta </th>
          <td mat-cell *matCellDef="let departamento"> {{departamento.planta}} </td>
        </ng-container>
      
        <!-- Fecha de construccion -->
        <ng-container matColumnDef="fechaConstruccion">
          <th mat-header-cell *matHeaderCellDef> Fecha de construccion </th>
          <td mat-cell *matCellDef="let departamento"> {{departamento.fechaConstruccion}} </td>
        </ng-container>
      
        <!-- Clave de encargado-->
        <ng-container matColumnDef="cveEncargado">
          <th mat-header-cell *matHeaderCellDef> Clave de encargado </th>
          <td mat-cell *matCellDef="let departamento"> {{departamento.cveEncargado}} </td>
        </ng-container>
      
        <!-- Editar -->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let departamento">
            <button type="button" mat-icon-button color="primary" (click)="onOpenModal(departamento)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Eliminar -->
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let departamento">
            <button mat-icon-button color="warn" (click)="onDelete(departamento.cveDepa)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>      
</mat-card>