<h2 mat-dialog-title>{{ data?.title }}</h2>
<mat-dialog-content>
    <form [formGroup]="departamentoForm">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Descripcion: </mat-label>
            <textarea formControlName="descripcion" matInput required maxlength="500"></textarea>
            <mat-error>
                {{ getErrorMessage('descripcion') }}
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="full-width"  appearance="outline">
            <mat-label>Planta</mat-label>
            <mat-select formControlName="planta" placeholder="Planta" required>
                <mat-option value=1>
                    Sotano
                </mat-option>
                <mat-option value=2>
                    Planta baja
                </mat-option>
                <mat-option value=3>
                    Planta alta
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <br>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Fecha de construccion</mat-label>
            <input formControlName="fechaConstruccion" type="date" matInput required>
            <mat-error>
                {{ getErrorMessage('fechaConstruccion') }}
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Clave de encargado</mat-label>
            <input formControlName="cveEncargado" matInput required>
            <mat-error>
                {{ getErrorMessage('cveEncargado') }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<div class="example-container">
    <mat-dialog-actions align="end">
        <button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
        <button mat-raised-button color="primary" (click)="onSave()">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
    </mat-dialog-actions>
</div>